@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans";
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hidden {
  display: none;
}

#clock {
  font-size: 100px;
  margin-top: 200px;
  margin-bottom: 50px;
  font-weight: 600;
  border-radius: 20px;
  padding: 15px;
  transition: text 0.3s ease-in-out;
}

#login {
  margin: 20px;
}

#login input:first-child {
  width: 300px;
  font-size: 25px;
  border-bottom: 2px solid black;
  padding: 5px 10px;
  transition: border-color 0.3s ease-in-out;
}

#login input:focus {
  border-color: white;
}

#login input::placeholder {
  color: black;
}

#login input:last-child {
  width: 80px;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

#greeting {
  margin: 20px;
  font-weight: 600;
  font-size: 32px;
}

#todo-form input {
  width: 300px;
  font-size: 20px;
  border-bottom: 2px solid black;
  padding: 5px 10px;
  transition: border-color 0.3s ease-in-out;
}

#todo-form input:focus {
  border-color: white;
}

#todo-form input::placeholder {
  color: black;
}

.td {
  margin: 20px;
  text-align: center;
}

#todo-list span,
button {
  display: inline-block;
  margin: 3px;
}

#todo-list button {
  background: transparent;
  color: black;
  border-radius: 8px;
  border: 1px solid black;
}

#quote {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  font-family: "Nanum Myeongjo";
  text-align: center;
  margin: 20px;
  font-size: 25px;
  padding: 10px;
}

#quote span:first-child {
  display: inline-block;
  margin-bottom: 5px;
}

#quote span:last-child {
  font-size: 20px;
}

#weather {
  position: fixed;
  top: 20px;
  right: 20px;
  font-weight: 600;
  font-size: 20px;
}
